@use 'vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  height: 90vh;
  width: 100%;
}

.mobile-menu img {
  align-self: flex-end;
  width: 12px;
  height: 12px;
}

.first-ul {
  font-size: var(--sm);
  border-bottom: 1px solid var(--very-light-pink);
}

.second-ul {
  font-size: var(--sm);
  margin-top: 24px;
}

.mobile-menu a {
  color: var(--black);
  font-weight: bold;
}

.mobile-menu ul li {
  margin-bottom: 20px;
}

.mobile-menu ul li a {
  cursor: pointer;
}
.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  color: var(--hospital-green);
  font-size: var(--sm);
}